<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Trang chủ</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <% if(!currentUser) { %>
                <li class="nav-item"><a class="nav-link text-light" href="/login">Đăng nhập</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/signup">Đăng ký</a></li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" id="toggler" href="#" role="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false"><%=currentUser.name%></a>
                    <div class="dropdown-menu" aria-labelledby="toggler">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>